<%= form_with model: [@league, team] do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <%= form.fields_for :user_teams do |user_team_subform| %>
    <%= user_team_subform.label :user, style: "display: block" %>
    <%= user_team_subform.collection_select :user_id, @options.order(:email), :id, :email, include_blank: true %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
