<h1>Team Roster</h1>

<%= render "searchbox" %>

<% if @nba_players %>
  <%= render "search_results" %>
<% end %>

<% @team.players.each do |player| %>
    <%= render 'players/player', player: player %>
    <%= link_to "this Player", league_player_path(@league, player)%>
<% end %>

<br>

<div>
  <%= link_to "Back to teams", league_teams_path(@league) %>
</div>