<p style="color: green"><%= notice %></p>

<%= render @season %>

<div>
  <%= link_to "Edit this season", edit_league_season_path(@league, @season) %> |
  <%= link_to "Back to seasons", league_seasons_path(@league) %>

  <%= button_to "Destroy this season", league_season_path(@league, @season), method: :delete %>
</div>
