<div id="<%= dom_id league %>">
  <p>
    <strong>Id:</strong>
    <%= league.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= league.name %>
  </p>

  <p>
    <strong>Admins:</strong>
    <%= league.admins.map(&:email) %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= league.members.map(&:email) %>
  </p>



</div>
