<p style="color: green"><%= notice %></p>

<h1>Members of <%= @league.name %></h1>

<div id="user_leagues">
  <% @league_memberships.each do |league_membership| %>
    <%= render league_membership %>
    <p>
      <%= link_to "Show this membership", league_league_membership_path(@league, league_membership) %>
    </p>
  <% end %>
</div>

<%= link_to "New Member", new_league_league_membership_path(@league) %>
