<p style="color: green"><%= notice %></p>

<%= render @league_membership %>

<div>
  <%= link_to "Edit this membership", edit_league_league_membership_path(@league, @league_membership) %> |
  <%= link_to "Back to members", league_league_memberships_path(@league) %>

  <%= button_to "Destroy this user league", league_league_membership_path(@league, @league_membership), method: :delete %>
</div>
