<div id="<%= dom_id team_season %>">
  <p>
    <strong>Soft cap:</strong>
    <%= team_season.soft_cap %>
  </p>

  <p>
    <strong>Hard cap:</strong>
    <%= team_season.hard_cap %>
  </p>

  <p>
    <strong>Roster size:</strong>
    <%= team_season.roster_size %>
  </p>

  <p>
    <strong>Incoming pics:</strong>
    <%= team_season.incoming_pics %>
  </p>

  <p>
    <strong>Max rfa bid:</strong>
    <%= team_season.max_RFA_bid %>
  </p>

  <p>
    <strong>Max ufa bid:</strong>
    <%= team_season.max_UFA_bid %>
  </p>

  <p>
    <strong>Dead cap:</strong>
    <%= team_season.dead_cap %>
  </p>

</div>
