<div id="<%= dom_id draft_pick %>">
  <p>
    <strong>Year:</strong>
    <%= draft_pick.year %>
  </p>

  <p>
    <strong>Round:</strong>
    <%= draft_pick.round %>
  </p>

  <p>
    <strong>Pick:</strong>
    <%= draft_pick.pick %>
  </p>

  <p>
    <strong>Original Team:</strong>
    <%= draft_pick.original_owner.name %>
  </p>

  <p>
    <strong>Current Team:</strong>
    <%= draft_pick.team.name %>
  </p>

</div>
