<p style="color: green"><%= notice %></p>

<%= render @draft_pick %>

<div>
  <%= link_to "Edit this draft pick", edit_league_season_draft_pick_path(@league, @season, @draft_pick) %> |
  <%= link_to "Back to draft picks", league_season_draft_picks_path(@league, @season) %>

  <%= button_to "Destroy this draft pick", league_season_draft_pick_path(@league, @season, @draft_pick), method: :delete %>
</div>
