<p style="color: green"><%= notice %></p>

<%= render @user_league %>

<div>
  <%= link_to "Edit this user league", edit_user_league_path(@user_league) %> |
  <%= link_to "Back to user leagues", user_leagues_path %>

  <%= button_to "Destroy this user league", @user_league, method: :delete %>
</div>
