<div id="<%= dom_id salary %>">
  <p>
    <strong>Season:</strong>
    <%= salary.season.start_year %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= salary.value %>
  </p>

  <p>
    <strong>Free agent:</strong>
    <%= salary.free_agent %>
  </p>

  <p>
    <strong>Waiver acquisition:</strong>
    <%= salary.waiver_acquisition %>
  </p>

</div>
