<p style="color: green"><%= notice %></p>

<%= render @salary %>

<div>
  <%= link_to "Edit this salary", edit_league_player_salary_path(@league, @player, @salary) %> |
  <%= link_to "Back to salaries", league_player_salaries_path(@league, @player) %>

  <%= button_to "Destroy this salary", league_player_salary_path(@league, @player, @salary), method: :delete %>
</div>
