<div class="listing" id="<%= dom_id player %>">
  <p>
    <%= player.first_name %>
  </p>

  <p>
    <%= player.last_name %>
  </p>

  <p>
    <%= player.position %>
  </p>

  <p>
    <%= player.draft_year %>
  </p>

  <p>
    <%= player.nba_team %>
  </p>

</div>
