<div id="<%= dom_id player %>">
  <p>
    <strong>First name:</strong>
    <%= player.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= player.last_name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= player.position %>
  </p>

  <p>
    <strong>Nba:</strong>
    <%= player.nba_id %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= player.slug %>
  </p>

  <p>
    <strong>Draft year:</strong>
    <%= player.draft_year %>
  </p>

  <p>
    <strong>Nba team:</strong>
    <%= player.nba_team %>
  </p>

</div>
