<p style="color: green"><%= notice %></p>

<%= render @nba_pool_player %>

<div>
  <%= link_to "Edit this player", edit_nba_pool_player_path(@nba_pool_player) %> |
  <%= link_to "Back to players", nba_pool_players_path %>

  <%= button_to "Destroy this player", @nba_pool_player, method: :delete %>
</div>
