<p style="color: green"><%= notice %></p>

<%= render @player %>

<div>
  <%= link_to "Edit this player", edit_league_team_player_path(@player.team.league, @player.team, @player) %> |
  <%= link_to "Back to players", league_team_players_path %>

  <%= button_to "Destroy this player", @league_team_player, method: :delete %>
</div>
