<%= form_with(model: trade) do |form| %>
  <% if trade.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
        <% trade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :team1_id, style: "display: block" %>
    <%= form.text_field :team1_id %>
  </div>

  <div>
    <%= form.label :team2_id, style: "display: block" %>
    <%= form.text_field :team2_id %>
  </div>

  <div>
    <%= form.label :outgoing, style: "display: block" %>
    <%= form.text_field :outgoing %>
  </div>

  <div>
    <%= form.label :incoming, style: "display: block" %>
    <%= form.text_field :incoming %>
  </div>

  <div>
    <%= form.label :team_season_id, style: "display: block" %>
    <%= form.text_field :team_season_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
