<div id="<%= dom_id trade %>">
  <p>
    <strong>Team1:</strong>
    <%= trade.team1_id %>
  </p>

  <p>
    <strong>Team2:</strong>
    <%= trade.team2_id %>
  </p>

  <p>
    <strong>Outgoing:</strong>
    <%= trade.outgoing %>
  </p>

  <p>
    <strong>Incoming:</strong>
    <%= trade.incoming %>
  </p>

  <p>
    <strong>Team season:</strong>
    <%= trade.team_season_id %>
  </p>

</div>
